/* [ 01 Catalogue containers ] */
.owl-carousel{
    z-index: 0;
}
.catalogue-item {
    height: 10em;
    background-color: #9e9e9e;
    color: #ffffff;
    padding: 50px;
}
/* Carousel item Icon */
.icon-services,
.catalogue-item.h4 {
    transform: scale(.2) translateY(-160%);
}
/* Coming soon */
.coming-soon {
    position: relative;
    transition: all 0.3s ease-out 0s;
}

.coming-soon::before {
    content: "";
    background: url(../assets/Img/comming-soon.svg) no-repeat top right;
    background-color: #eebabc67;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    cursor: pointer;
}

/* [ 02 About Page carousel ] */
.about-carousel-item {
    border: #eebabccb 4px solid;
    filter: grayscale(.3);
    transition: all .4s;
}
.about-carousel-item:hover {
    transform: scale(1.5) translateY(-15px);
    filter: none;
}